body {
  font: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background-color: #DDD;
  margin: 5px 20px 20px 20px;
}

.content {
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #999;
  margin-top: 10px;
}

a, a:hover, a:visited {
  color: #123;
}

pre.textmate-source {
	margin: 0;
	padding: 0 0 0 2px;
	font-family: Monaco, monospace;
	font-size: 16px;
	line-height: 1.3em;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

pre.textmate-source.iplastic {
	color: #000000;
	background-color: #EEEEEE;
}

pre.textmate-source .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.textmate-source.iplastic span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}
pre.textmate-source.iplastic ::selection {
	background-color: #BAD6FD;
}
/* String */
pre.textmate-source.iplastic .string {
	color: #009933;
}

/* Number */
pre.textmate-source.iplastic .constant_numeric {
	color: #0066FF;
}

/* Regular expression */
pre.textmate-source.iplastic .string_regexp {
	color: #FF0080;
}

/* Keyword */
pre.textmate-source.iplastic .keyword {
	color: #0000FF;
}

/* Identifier */
pre.textmate-source.iplastic .constant_language {
	color: #9700CC;
}

/* Exception */
pre.textmate-source.iplastic .support_class_exception {
	color: #990000;
}

/* Function name */
pre.textmate-source.iplastic .entity_name_function {
	color: #FF8000;
}

/* Type name */
pre.textmate-source.iplastic .entity_name_type {
	text-decoration: underline;
	font-weight: bold;
}

/* Arguments */
pre.textmate-source.iplastic .variable_parameter {
	font-style: italic;
}

/* Comment */
pre.textmate-source.iplastic .comment {
	color: #0066FF;
	font-style: italic;
}

/* Invalid */
pre.textmate-source.iplastic .invalid {
	color: #FF0000;
	background-color: rgba(231, 26, 17, 0.30);
}

/* Trailing whitespace */
pre.textmate-source.iplastic .invalid_deprecated_trailing-whitespace {
	background-color: rgba(231, 26, 17, 0.00);
}

/* Embedded source */
pre.textmate-source.iplastic .text .source {
	color: #000000;
	background-color: rgba(250, 250, 250, 0.99);
}

/* Tag */
pre.textmate-source.iplastic .meta_tag, pre.textmate-source.iplastic .declaration_tag {
	color: #0033CC;
}

/* Constant */
pre.textmate-source.iplastic .constant, pre.textmate-source.iplastic .support_constant {
	color: #6782D3;
}

/* Support */
pre.textmate-source.iplastic .support {
	color: #3333FF;
	font-weight: bold;
}

/* Storage */
pre.textmate-source.iplastic .storage {
	font-weight: bold;
}

/* Section name */
pre.textmate-source.iplastic .entity_name_section {
	text-decoration: underline;
	font-weight: bold;
}

/* Frame title */
pre.textmate-source.iplastic .entity_name_function_frame {
	color: #000000;
	font-weight: bold;
}

/* XML Declaration */
pre.textmate-source.iplastic .meta_tag_preprocessor_xml {
	color: #333333;
}

/* Tag Attribute */
pre.textmate-source.iplastic .entity_other_attribute-name {
	color: #3366CC;
	font-style: italic;
}

/* Tag Name */
pre.textmate-source.iplastic .entity_name_tag {
	font-weight: bold;
}

#nav {
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

